@import '../../../variables';

h1 {
    font-weight: 800;
}

.carousel-caption {
    text-align: left !important;
    font-size: 0.9em !important;
}

.card {
    cursor: pointer;
}

@media only screen and (min-width: 966px) {  
    .carousel-item {
        height: 400px;
        img {
            position: absolute;
            top: -200px;
            object-fit: cover;
        }
    }
}  