<!-- Película-->

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-6">
            <img [src]="movie" alt="" class="w-100">
        </div>
        <div class="col-md-6">
            <div class="container pt-3 pt-lg-0 pt-md-0">
                <h3>Titulo Película</h3>
                <span>⭐⭐⭐</span>
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint tenetur animi dolorem! Quam ad in consequuntur dicta assumenda impedit fugiat cupiditate laudantium accusamus. Commodi incidunt alias exercitationem consectetur praesentium!</p>
                <button class="btn btn-primary shadow-none" routerLink="">Regresar</button>
            </div>
        </div>
    </div>
</div>

<!-- Actrices-->

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2 col-6 mt-1 mb-3">
            <div class="card">
                <img [src]="batman" alt="" srcset="" class="card-img-top" [alt]="batman">
            </div>
            <div class="card-body">
                <h6 class="card-title">Actor/Actriz 1</h6>
            </div>
        </div>
        <div class="col-md-2 col-6 mt-1 mb-3">
            <div class="card">
                <img [src]="batman" alt="" srcset="" class="card-img-top" [alt]="batman">
            </div>
            <div class="card-body">
                <h6 class="card-title">Actor/Actriz 2</h6>
            </div>
        </div>
        <div class="col-md-2 col-6 mt-1 mb-3">
            <div class="card">
                <img [src]="batman" alt="" srcset="" class="card-img-top" [alt]="batman">
            </div>
            <div class="card-body">
                <h6 class="card-title">Actor/Actriz 3</h6>
            </div>
        </div>
        <div class="col-md-2 col-6 mt-1 mb-3">
            <div class="card">
                <img [src]="batman" alt="" srcset="" class="card-img-top" [alt]="batman">
            </div>
            <div class="card-body">
                <h6 class="card-title">Actor/Actriz 4</h6>
            </div>
        </div>
        <div class="col-md-2 col-6 mt-1 mb-3">
            <div class="card">
                <img [src]="batman" alt="" srcset="" class="card-img-top" [alt]="batman">
            </div>
            <div class="card-body">
                <h6 class="card-title">Actor/Actriz 5</h6>
            </div>
        </div>
        <div class="col-md-2 col-6 mt-1 mb-3">
            <div class="card">
                <img [src]="batman" alt="" srcset="" class="card-img-top" [alt]="batman">
            </div>
            <div class="card-body">
                <h6 class="card-title">Actor/Actriz 6</h6>
            </div>
        </div>
    </div>
</div>